driftscan @ git+https://github.com/radiocosmology/driftscan.git
caput[compression] @ git+https://github.com/radiocosmology/caput.git
cora @ git+https://github.com/radiocosmology/cora.git
Cython>0.18
mpi4py
numpy>=1.17
scipy>=0.10
skyfield
