name: draco-ci-build
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:

  lint-code:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install apt dependencies
        run: |
          sudo apt-get install -y libopenmpi-dev openmpi-bin

      - name: Install pip dependencies
        run: |
          pip install black ruff

      - name: Run ruff
        run: ruff check .

      - name: Check code with black
        run: black --check .

  run-tests:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.14"]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Install apt dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libopenmpi-dev openmpi-bin libhdf5-serial-dev

      - name: Install brew dependencies
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          CC=mpicc brew install open-mpi hdf5-mpi

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update pip
        run: pip install --upgrade pip
      
      - name: Disable OpenMP warning on macos
        if: matrix.os == 'macos-latest'
        run: |
          echo "DRACO_NO_OPENMP=1" >> "$GITHUB_ENV"
          echo "CORA_NO_OPENMP=1" >> "$GITHUB_ENV"
          echo "CAPUT_NO_OPENMP=1" >> "$GITHUB_ENV"
      
      - name: Disable zstd assembly for recent macos with missing wheel
        if: matrix.os == 'macos-latest' && matrix.python-version == '3.14'
        run: echo "CFLAGS=-DZSTD_DISABLE_ASM" >> "$GITHUB_ENV"

      - name: Install pip dependencies
        run: CC=mpicc pip install ".[test]"

      - name: Run serial tests
        run: pytest test/

      - name: Run parallel tests
        run: mpirun -np 4 --oversubscribe pytest -m mpi test/

      - name: Run caput linter on example configs
        run: |
          caput-pipeline lint examples/*.yaml
          caput-pipeline lint doc/pipeline_params.yaml

  build-docs:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libopenmpi-dev openmpi-bin

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install pip dependencies
        run: |
          pip install -e .
          pip install -e .[docs]

      - name: Build sphinx docs
        run: sphinx-build -W -b html doc/ doc/_build/html
