name: draco-ci-build
on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:

  lint-code:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"

    - name: Install apt dependencies
      run: |
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Install pip dependencies
      run: |
        pip install black ruff
        pip install -r requirements.txt
        python setup.py develop

    - name: Run ruff
      run: ruff check .

    - name: Check code with black
      run: black --check .

  run-tests:

    strategy:
      matrix:
        python-version: [3.8, 3.11]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip dependencies
      run: |
        pip install -U pip
        pip install wheel
        pip install numpy
        pip install cython
        pip install --use-deprecated=legacy-resolver -r requirements.txt
        pip install mpi4py
        pip install pytest
        python setup.py develop

    - name: Run serial tests
      run: pytest -x test/

    - name: Run parallel tests
      run: |
        mpirun -np 4 --oversubscribe pytest -x -m mpi test/

    - name: Run caput linter on example configs
      run: |
        caput-pipeline lint examples/*.yaml
        caput-pipeline lint doc/pipeline_params.yaml

  build-docs:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"

    - name: Install pip dependencies
      run: |
        pip install -U pip
        pip install wheel
        pip install numpy
        pip install cython
        pip install --use-deprecated=legacy-resolver -r requirements.txt --no-binary bitshuffle
        pip install -r doc/requirements.txt
        python setup.py develop

    - name: Build sphinx docs
      run: sphinx-build -W -b html doc/ doc/_build/html
